[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[packages]
gunicorn = "*"
wikipedia = "*"
bs4 = "*"
html5lib  = "<=0.9999999"

[requires]
python_version = "3.5"

[dev-packages]
